@import "../../custom.scss";
@include load-fade-frames(about-magic, 1rem);

.about-title {
    color: $secondary;
    text-align: center;
    font-family: $title-font;
    padding: 4vh 0;
    margin: 0;
    font-size: $font-size-title;
    @include load-fade(about-magic, 1.25s);
}

.about-intro {
    background-color: transparent;
    border: solid .2rem $secondary;
    border-radius: 2rem;
    color: white;
    margin: 0 10vw;
    font-size: $font-size-sm;
    padding: 2rem 2rem;
    opacity: 0;
    @include load-fade(about-magic, 1.25s);
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.socials {
    text-align: center;
    opacity: 0;
    @include load-fade(about-magic, 1.25s);
    animation-fill-mode: forwards;
    animation-delay: 1s;
    width: fit-content;
    margin: auto;
}

.social-list {
    padding-bottom: 1vh;
    margin-bottom: 0 !important;
}