$primary: #f9eacd;
$primary-dark-1: #F8BF6C;
$primary-dark: #f09544;
$secondary: #ea7526;
$secondary-dark: #852f0f;
$third: #FFAA55;

$font-size-lg: 5em;


@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
$main-text-font: "Titillium Web", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
$title-font: 'Shadows Into Light Two', cursive;

.custom-container {
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  .custom-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .custom-container {
    margin-left: 25rem;
    margin-right: 25rem;
  }
}

.spacer {
  padding: 1em;
}

a {
  color: $secondary-dark;
}

a:hover {
  color: $secondary;
  text-decoration: none;
}

p::selection, a::selection, h1::selection {
  background: $primary-dark;
  color: white;
}

@mixin load-fade($name, $time) {
  animation: $name ease $time;
} 

@mixin load-fade-frames($name, $height) {
  
  @keyframes #{$name} {
    0% {
        opacity: 0;
        transform: translate(0, $height);
    }
    100% {
        opacity: 1;
    }
  }
}