$primary: #FFCEE5;
$primary-dark: #FF8FC4;
$secondary: #98C7FF;
$secondary-dark: #3F8DEB;

// Color presets
$background-color: #212121;

// Font size presets
$font-size-huge: 12vw;
$font-size-title: 7vw;
$font-size-lg: 5vw;
$font-size-md: 2.5vw;
$font-size-sm: 1.5vw;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Titillium+Web&display=swap');
$main-text-font: "Titillium Web", sans-serif;
$title-font: 'Shadows Into Light Two', cursive;

#root {
  width: 100%;
  min-height: 100%;
  background-color: $background-color;
  font-family: $main-text-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: $primary-dark;
  text-decoration: none;
}

a:hover {
  color: $primary;
  text-decoration: none;
}

p::selection, a::selection, h1::selection {
  background: $primary-dark;
  color: white;
}

.container {
  width: auto;
  height: 100%;
}

.spacer {
  padding: 1vh;
}

.item-list {
  list-style-type: none;
}

.lsi {
  background-color: transparent !important;
  color: white;
  font-size: $font-size-md;
}

@mixin load-fade($name, $time) {
  animation: $name ease $time;
} 

@mixin load-fade-frames($name, $height) {
  
  @keyframes #{$name} {
    0% {
        opacity: 0;
        transform: translate(0, $height);
    }
    100% {
        opacity: 1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-left: 25rem;
    margin-right: 25rem;
  }
}
