[submodule "client/src/subpages/advocacy"]
	path = client/src/subpages/advocacy
	url = git@github.com:MichaelZhao21/advocacy.git
[submodule "advocacy"]
	path = advocacy
	url = git@github.com:MichaelZhao21/advocacy.git
[submodule "api"]
	path = api
	url = git@github.com:MichaelZhao21/api.git
