@import "../custom.scss";

@include load-fade-frames(about-magic, 1rem);

.about-title {
    color: $secondary;
    text-align: center;
    font-family: $title-font;
    margin-bottom: 3rem;
    @include load-fade(about-magic, 1s);
}

.intro.jumbotron {
    background-color: transparent;
    border: solid .2rem $secondary;
    border-radius: 2rem;
    color: $black;
    padding: 2rem 2rem;
    font-size: $font-size-lg;
    opacity: 0;
    @include load-fade(about-magic, 1s);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.socials {
    text-align: center;
    opacity: 0;
    @include load-fade(about-magic, 1s);
    animation-fill-mode: forwards;
    animation-delay: 2s;
    width: fit-content;
    margin: auto;
}

.lsi {
    background-color: transparent !important;
    color: black;
    font-size: x-large;
}