@import "../custom.scss";

@include load-fade-frames(main-fade, 11rem);

.main-greeting {
    transform: translate(0, 10rem);
    text-align: center;
    font-family: $title-font;
    color: $secondary;
    transition: .3s;
    @include load-fade(main-fade, 1s);
}

.main-greeting:hover {
    cursor: pointer;
    color: $primary-dark-1;
}