.app {
  text-align: center;
  background-color: #f5f5f6;
  min-height: 100%;
  width: 100%;
}

.home-button {
  position: fixed;
  bottom: 0.5em;
  left: 2em;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.1em;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

@media only screen and (max-width: 1200px) {
  .home-button {
    display: none;
  }
}
