.Corner {
  height: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.Name {
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 8vw;
  color: #ceeaf7
}