html,
body,
#root {
    height: 100%;
    width: 100%;
}

.container {
    width: 50%;
    min-height: 100%;
    margin: auto;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    filter: drop-shadow(0 0 0.5em #aaaaaa);
    flex-direction: column;
}

.header {
    width: 100%;
    height: auto;
    padding: 4em 0 4em 0;
    text-align: center;
    background: black;
    filter: drop-shadow(0 0 0.5em #aaaaaa);
}

.drop-img {
    filter: drop-shadow(0 0 0.5em #aaaaaa);
}

.doc-img {
    margin: 0.5em auto 0.5em auto;
    object-fit: scale-down;
    width: 70%;
    display: block;
}

.img-caption {
    font-size: 1em;
    text-align: center;
    color: #484848;
    font-weight: 300;
    margin: 0 3em 1em 3em;
}

.instagram-media {
    width: 100% !important;
}

.inst {
    width: 70%;
    margin: 0.5em auto 0.5em auto;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 0.5em #888888);
}

.inst-div {
    padding: 0.5em;
}

h1 {
    margin: 0;
    font-size: 8em;
    color: #bbbbbb;
    font-family: "Bebas Neue", cursive;
}

h2 {
    margin: 0.6em 1em 0.4em 1em;
    font-weight: 700;
    font-size: 3em;
}

h3 {
    margin: 0.5em 0 0.3em 0;
    font-weight: 600;
    font-size: 2em;
}

p,
pre,
ul {
    font-size: 1.4em;
    margin: 0 2em 1em 2em;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

ul {
    margin-top: 0 !important;
}

li {
    margin-left: 2em;
}

pre {
    font-size: 1.2em;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.p {
    text-indent: 2em;
}

.video {
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0 1em 0 1em;
    margin: 1em;
}

.left {
    text-align: left;
}

.mid {
    text-align: center;
}

.quote {
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 600;
}

.inline-link {
    text-decoration: none;
    color: #7c5414;
    transition: 0.2s;
}

.link {
    font-size: 1.4em;
    margin: 1em 2em 1em 2em;
    text-decoration: none;
    color: #7c5414;
    transition: 0.2s;
}

.link:hover, .inline-link:hover {
    color: #523610;
    filter: drop-shadow(0 0 0.01em #492c0a);
}

.link-list {
    margin: 0 2em 0 2em !important;
    padding: 0.5em 0 0.5em 0 !important;
}

.caption {
    font-size: 0.9em;
    margin: 0 2em 0 2em;
    font-weight: 300;
}

.citation {
    padding-left: 2em;
    text-indent: -2em;
    font-size: 1em;
}

.content-warning {
    font-size: 1em !important;
    border-radius: 1em;
    cursor: pointer;
    border: 0.2em solid #484848 !important;
    padding: 0.5em !important;
    font-weight: 700 !important;
}

.section-button {
    text-decoration: none;
    background-color: none;
    border: 0.1em solid black;
    color: black;
    padding: 1em;
    width: 80%;
    margin: 0.5em auto 0.5em auto;
    font-weight: 300;
    font-size: 1.75em;
    transition: 0.3s;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.section-button:hover {
    background-color: #dddddd;
    filter: drop-shadow(0 0 0.1em #aaaaaa);
}

.spacer {
    margin: 0.5em;
}

.nyt-vid {
    width: 50em !important;
    height: calc(50em * 321 / 480) !important;
    filter: drop-shadow(0 0 0.5em #aaaaaa);
}

.flex-div {
    display: flex;
}

table {
    margin: auto;
    background-color: black;
    width: 80%;
    margin-bottom: 1em;
    table-layout: fixed;
}

th, td {
    background-color: white;
    padding: 0.5em;
    font-size: 1.4em;
}

.tab-div {
    display: flex;
    flex-direction: column;
}

.tab-link {
    margin-bottom: 0.5em;
}

.tiktok-embed {
    max-width: 45%;
    min-width: 45%;
}

@media only screen and (max-width: 1200px) {
    .nyt-vid {
        width: 40em !important;
        height: calc(40em * 321 / 480) !important;
        filter: drop-shadow(0 0 0.5em #aaaaaa);
    }
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .flex-div {
        flex-direction: column;
    }
    .tiktok-embed {
        max-width: 95%;
        min-width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    .nyt-vid {
        width: 95vw !important;
        height: calc(105vw * 321 / 480) !important;
        filter: drop-shadow(0 0 0.5em #aaaaaa);
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        margin: 0.4em 0.2em 0.5em 0.2em;
        font-size: 2em;
    }
    p,
    pre,
    ul {
        font-size: 1.2em;
        margin: 1em;
    }
    th, td {
        font-size: 1em;
    }
    .inst {
        filter: drop-shadow(0 0 0.2em #888888);
    }
    .nyt-vid {
        width: 20em;
        height: calc(20em * 321 / 480);
        filter: drop-shadow(0 0 0.5em #aaaaaa);
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        margin: 0 0.5em 0 0.5em;
        font-size: 4em;
    }
    h2 {
        margin: 0.4em 0.2em 0.2em 0.2em;
        font-size: 2em;
    }
    p,
    pre,
    ul {
        font-size: 1em;
    }
}
