html,
body,
#root {
    height: 100%;
    width: 100%;
}

.container {
    width: 50%;
    min-height: 100%;
    margin: auto;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    filter: drop-shadow(0 0 0.5em #aaaaaa);
    flex-direction: column;
}

.header {
    width: 100%;
    height: auto;
    padding: 4em 0 4em 0;
    text-align: center;
    background: black;
    filter: drop-shadow(0 0 0.5em #aaaaaa);
}

.doc-img {
    margin: 0.5em 4em 0.5em 4em;
    object-fit: scale-down;
    height: 20em;
    display: block;
}

h1 {
    margin: 0;
    font-size: 8em;
    color: #bbbbbb;
    font-family: "Bebas Neue", cursive;
}

h2 {
    margin: 0.8em 1em 0.4em 1em;
    font-weight: 700;
    font-size: 3em;
}

h3 {
    margin: 0.5em 0 0.3em 0;
    font-weight: 600;
    font-size: 2em;
}

p, pre {
    font-size: 1.4em;
    margin: 0 2em 1em 2em;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

pre {
    font-size: 1.2em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.p {
    text-indent: 2em;
}

ul {
    padding: 0 1em 0 1em;
    margin: 1em;
}

.left {
    text-align: left;
}

.mid {
    text-align: center;
}

.quote {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 600;
}

.link {
    font-size: 1.4em;
    margin: 1em 2em 1em 2em;
    text-decoration: none;
    color: #7c5414;
    transition: 0.2s;
}

.link:hover {
    color: #523610;
    filter: drop-shadow(0 0 0.01em #492c0a);
}

.link-list {
    margin: 0 2em 0 2em !important;
    padding: 0.5em 0 0.5em 0 !important;
}

.caption {
    font-size: 0.9em;
    margin: 0 2em 0 2em;
    font-weight: 300;
}

.citation {
    padding-left: 2em;
    text-indent: -2em;
    font-size: 1em;
}

.section-button {
    text-decoration: none;
    background-color: none;
    border: 0.1em solid black;
    color: black;
    padding: 1em;
    width: 80%;
    margin: 0.5em auto 0.5em auto;
    font-weight: 300;
    font-size: 1.75em;
    transition: 0.3s;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.section-button:hover {
    background-color: #dddddd;
    filter: drop-shadow(0 0 0.1em #aaaaaa);
}

.spacer {
    margin: 0.5em;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
        margin: 1em;
    }
    .doc-img {
        height: 15em;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        margin: 0 0.5em 0 0.5em;
        font-size: 4em;
    }
    h2 {
        margin: 0.8em 0.2em 0.4em 0.2em;
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
}
