@import '../../custom.scss';
@include load-fade-frames(names-fade, 1rem);
@use 'sass:color';

.Main {
    padding: 0 0 0 4vw;
}

.name {
    font-family: $mono-font;
    font-size: $font-size-title;
    font-weight: 300;
    @include load-fade(names-fade, 1.5s);
    animation-fill-mode: forwards;
    opacity: 0;
    margin: 0;
    line-height: 0.8em;
}

.first-name {
    padding: 10vh 5vw 0 0;
    color: $primary;
    animation-delay: 0.5s;
}

.last-name {
    color: $secondary;
    animation-delay: 1s;
}

.desc {
    padding: 5vh 0;
    margin: 0;
    font-family: $hand-font;
    font-size: $font-size-md;
    color: white;
    @include load-fade(names-fade, 1.5s);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.main-links {
    padding: 1vh 0 0 0;
    display: block;
    font-family: $hand-font;
    font-size: $font-size-lg;
    @include load-fade(names-fade, 1.5s);
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    color: white;
    width: fit-content;
}

.about-link {
    margin: 0 0 0 3vw;
}

.advocacy-link {
    margin: 0 0 0 13vw;
}

.blog-link {
    margin: 0 0 0 8vw;
}
