.blm-header {
    background: linear-gradient(#000000b3, #000000b3), url("../../files/blm.jpg");
    background-size: cover;
    background-position-y: 30%;
}

.name-wall {
    width: 80%;
}

.blm-logo {
    width: 40%;
}

@media only screen and (max-width: 800px) {
    .name-wall {
        width: 95%;
    }
    .blm-logo {
        width: 70%;
    }
}