.events-header {
    background: linear-gradient(#000000b3, #000000b3), url("../../files/printing.jpg");
    background-size: cover;
    background-position-y: center;
}

.events {
    text-align: left;
}