.help-header {
    background: linear-gradient(#000000b3, #000000b3), url("../../files/helping.jpg");
    background-size: cover;
    background-position-y: center;
}

#instagram-embed-0 {
    margin: auto !important;
}