.help-header {
    background: linear-gradient(#000000b3, #000000b3), url("../../files/helping.jpg");
    background-size: cover;
    background-position-y: center;
}

.colored-section {
    color: #5f3601;
    font-weight: 900;
}

.contribute-button {
    width: fit-content;
    font-size: 1em;
    border-radius: 1em;
}