.app-content {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navbar {
  display: fixed;
  bottom: 0;
  padding: 2%;
  height: 4vh;
  background-color: transparent;
}

.logo {
  height: 5vh;
}

.menu {
  list-style-type: none;
  display: inline;
  /* text-align: center; */
}

.menu-item {
  display: inline;
  padding: 0px 2vw 0px 2vw;
  vertical-align: 80%;
}

a {
  text-decoration: none;
  color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
