@import "./custom.scss";

html, body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  background-color: $primary;
  font-family: $main-text-font;
}

.logo {
  height: 3.5rem;
  margin-left: 4rem;
}

.brand, .brand:focus, .brand:hover {
  outline: 0 !important;
  border:0 none !important;
  text-decoration: none;
}

.navbar {
  padding: 1.5rem;
}

.nav-item {
  padding: 0 1.5rem 0 1.5rem;
  color: $secondary;
  font-size: x-large;
  cursor: pointer; 
}

.active.nav-item {
  color: $secondary-dark;
}
