$primary: #fee7ea;

@import "~bootstrap/scss/bootstrap";

.main {
  background-color: $primary;
}

.brand {
  color: black;
}

.nav-item {
  padding: 1vh 3vw 1vh 3vw;
  color: black;
}

// temp
div {
  color: black;
}