@import "./custom.scss";

html, body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  background-color: $primary;
  font-family: $main-text-font;
}

.logo {
  height: 10vh;
  margin-left: 4vw;
}

.brand:hover {
  text-decoration: none;
}

.brand, .brand:focus{
  outline: 0 !important;
  border:0 none !important;
}

.navbar {
  padding: 4vh;
}

.brand {
  color: $secondary;
  font-size: 4vh;
}

.nav-item {
  padding: 2vh 1vw 2vh 1vw;
  color: $secondary;
  font-size: x-large;
  cursor: pointer; 
}

.active.nav-item {
  color: $secondary-dark;
}
