$primary: #f9eacd;
$primary-dark: #f09544;
$secondary: #ea7526;
$secondary-dark: #852f0f;
$third: #FFAA55;
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
$main-text-font: "Titillium Web", $font-family-sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
$title-font: 'Shadows Into Light Two', cursive;

.custom-container {
  width: auto;
  height: 100%;
}

@include media-breakpoint-up(md) {
  .custom-container {
    margin-left: 25rem;
    margin-right: 25rem;
  }
}

a {
  color: black;
}